@use "../abstracts";

html {
    --text-color: rgba(33, 37, 41, 1);
    --body-bg: #fff;
    --primary-color: rgb(207,35,56);

    --icon-color: brightness(0) saturate(100%) invert(8%) sepia(10%) saturate(4042%) hue-rotate(212deg) brightness(90%)
        contrast(95%);
}